<main>
  <aside>
    <ul>
      <li>Informações básicas</li>
      <li>Endereço</li>
      <li>DIP</li>
    </ul>
  </aside>
  <section>
    <form>
      <div class="basic">
       <div class="header">
          <h2>Informações básicas</h2>
          <button>Editar</button>
       </div>
        <div class="inputs">
          <select>
            Profile
            <option value="1">Banco</option>
            <option value="2">Assets</option>
          </select>
          <label for="aum">AUM</label>
          <input type="text" id="aum">
        </div>
      </div>
      <div>
        <h2>Endereço</h2>

        <input type="text" />
      </div>
    </form>
  </section>
</main>
