main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  padding: 30px;
}

section {
  max-width: 900px;
}

.basic {
  border: 1px solid #d6d6d6;
  padding: 1rem;
}


ul {
  list-style: none;
}
li {
  position: relative;
}

// li:active::before{
//   content:'';
//   background-color: aqua;
//   height: 40px;
//   width: 4px;
//   position: absolute;
// }

a:focus li{
  background: #d2d2d2;
}

a:focus li::before {
  content: "";
  background-color: aqua;
  height: 10px;
  width: 4px;
  position: absolute;
  top: 5px;
  left: -10px;
}
a {
  text-decoration: none;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
input,
select {
  width: 100%;
}
.inputs {
  padding: 1rem;
  display: flex;
}

// .open-close-container{
//   opacity: 0;
//   tranform: translateX(200px)
// }

// .open-close-container.animar {
//   animation-name:slide ;
//   animation-duration: 2s;
//   animation-fill-mode:both;
//   animation-timing-function: linear;
//   // animation-delay: 1s;
//   // animation-direction: reverse;
//   animation-play-state: running;
//   // animation-iteration-count: infinite;
// }

// @keyframes slide {
//   from{
//     opacity: 0;
//   }
//   to{
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

// .btn2 {
//   position:absolute;
//   left: 0;
// }

// .btn3 {
//   position:absolute;
//   left: 0;
// }
// .btn1 {
//   z-index: 1;
// }



button {
  display: flex;
  place-self: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  position:relative;

}

.btn3{
  position:absolute;
  left: 50%;
  opacity: 0;

}

.btn1{
  z-index:1;
}

.esconder{
  opacity:0;
transition-duration: 0.2s;}

.aparecer{
  opacity: 1;
}



.open-close-container {
  display: flex;
  justify-content: space-around;

}
.btn2{
  position:relative;
}
.alert {
  position:absolute;
  left:140px;
  top:20px;
}
