<main>
  <aside>
    <ul>
      <a href="javascript:void(0)"><li>Informações básicas</li></a>
      <a href="javascript:void(0)"><li>Endereço</li></a>
      <a href="javascript:void(0)"><li>DIP</li></a>
    </ul>
  </aside>
  <section>
    <form [formGroup]="formulario" autocomplete="off">
      <div class="basic">
        <div class="header" id="infos">
          <h2>Informações básicas</h2>
          <div class="buttons">
            <div [@slide]="isOpen ? 'open' : 'closed'" class="open-close-container">
              <button
                class="btn2"
                type="submit"
                [disabled]="!formulario.valid"
                (click)="onSubmit()"
              >
                Salvar
              </button>
              <div class="alert alert-info" *ngIf="showSucessMessage">
                O
              </div>

            </div>
            <button class="btn3" id="cancel" (click)="Cancelar()">Cancelar</button>
            <button class="btn1" id="edit" (click)="toggle()">Editar</button>
          </div>
        </div>
        <div class="inputs">
          <select formControlName="perfil" readonly>
            <option [value]="perfil?.nivel" *ngFor="let perfil of perfis" >
              {{ perfil?.nivel }}
            </option>
          </select>
          <!-- popula o option com os dados dos investidores cadastrados -->
          <label for="nome">Nome</label>
          <input type="text" id="nome" formControlName="nome" />
          <label for="aum">AUM</label>
          <input type="text" formControlName="aum" readonly />
        </div>
      </div>
      <div formGroupName="address">
        <h2>Address</h2>

        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street" />

        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city" />

        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state" />

        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip" />
      </div>
    </form>

    <div>
      <div>
        <h2>Upload de arquivos</h2>

        <label for="file" id="fileLabel">Selecionar</label>
        <input type="file" id="file" (change)="onChange($event)" />
        <button (click)="onUpload()" [disabled]="!file">Salvar</button>

        <!-- <label for="estados">Estados</label>
          <select formControlName="estados">
            <option [value]="investor.endereco?.estado" *ngFor="let investor of investors">{{ investor.endereco?.estado }}</option>
            </select>
          <label for="aum">AUM</label>
          <input formControlName="aum" id="aum"> -->
      </div>
    </div>
  </section>
</main>
