<main>
  <input type="text" [formControl]="pesquisa" placeholder="Busca por nome" />

  <select [formControl]="profile">
    <option *ngFor="let perfil of perfis" [value]="perfil.nivel">
      {{ perfil.nivel }}
    </option>
  </select>
  <app-filter-locations [locations]="estados" (aoEscolher)="selectLocation($event)"></app-filter-locations>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Perfil</th>
        <th>AUM</th>
        <th>Localização</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let investidor of investidorsFiltereds$ | async">
        <td>{{ investidor.nome }}</td>
        <td>{{ investidor.profile.nivel }}</td>
        <td>{{ showAum(investidor.aum)}}</td>
        <td>{{ investidor?.endereco?.estado }}</td>

      </tr>
    </tbody>
  </table>
</main>
